<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMJ88Uo8Q7qYrxCMspjLpE38l6BSIERaU</string>
	<key>GCM_SENDER_ID</key>
	<string>962926378372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.whiteboard</string>
	<key>PROJECT_ID</key>
	<string>whiteboard-fba04</string>
	<key>STORAGE_BUCKET</key>
	<string>whiteboard-fba04.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962926378372:ios:f5f11a0d1c0b513857b1d1</string>
	<key>DATABASE_URL</key>
	<string>https://whiteboard-fba04-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>